{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
<h1>Meta Reinforcement Learning for Data Augmentation</h1>


<form action="/user_input">
  <!-- upload dataset -->
  <label for="dataset">Please upload your dataset here:</label>
  <input type="file" name="dataset" class="upload"><br><br>

  <!-- radio button -->
  What task is your dataset used for?<br>
  <input type="radio" id="outputtype1"
    name="output" value="binary_cls">
  <label for="outputtype1">Binary Classification</label><br>

  <input type="radio" id="outputtype2"
    name="output" value="multi_cls">
  <label for="outputtype2">Multi-classification</label><br>

  <input type="radio" id="outputtype3"
  name="output" value="regression">
  <label for="outputtype3">Linear Regression</label><br><br>

  <label for="data_aug_method">Which data augmentation method you would like exclude?</label>
    <select id="data_aug_method" name="data_aug_method">
        <option value="Translate">Translate</option>
        <option value="Rotate">Rotate</option>
        <option value="AutoContrast">AutoContrast</option>
        <option value="Equalize">Equalize</option>
        <option value="Solarize">Solarize</option>
        <option value="Posterize">Posterize</option>
        <option value="Contrast">Contrast</option>
        <option value="Brightness">Brightness</option>

    </select><br><br>

  <input type="submit">
</form>
  
{% endblock %}
