{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
<h1>Meta Reinforcement Learning for Data Augmentation</h1>

<h3>Choose your dataset</h3>
<form action="/user_input" method="POST" enctype="multipart/form-data">
  <!-- upload dataset -->
  <label for="dataset_upload">You can upload your dataset folder here:</label>
  <input type="file" id='dataset_upload' name="dataset_upload" class="upload"><br><br>
  
  <!-- <label for="dataset_upload">Upload your train dataset folder here:</label> -->
  <!-- <input type="file" id='dataset_upload' name="dataset_upload" webkitdirectory mozdirectory /><br> -->
  <!-- <label for="dataset_upload">Upload your test dataset folder here:</label>
  <input type="file" id='test_upload' name="test_upload" webkitdirectory mozdirectory /><br><br> -->

  <!-- dataset radio button -->
  Or you can select a dataset from our database: <br>
  <input type="radio" id="dataset1"
    name="dataset_selection" value="MNIST">
  <label for="dataset1">MNIST dataset</label><br>

  <input type="radio" id="dataset2"
    name="dataset_selection" value="KMNIST">
  <label for="dataset2">KMNIST dataset</label><br>

  <input type="radio" id="dataset3"
    name="dataset_selection" value="FashionMNIST">
  <label for="dataset3">FashionMNIST dataset</label><br>

  <input type="radio" id="dataset4"
  name="dataset_selection" value="CIFAR10">
  <label for="dataset4">CIFAR10 dataset</label><br>

  <input type="radio" id="dataset5"
  name="dataset_selection" value="CIFAR100">
  <label for="dataset5">CIFAR100 dataset</label><br>

  <input type="radio" id="dataset6"
  name="dataset_selection" value="Other">
  <label for="dataset6">Other dataset DIFFERENT</label><br><br> 

<!-- --------------------------------------------------------------- -->


  <h3>Choose the network the dataset is trained on</h3>
  <!-- upload network -->
  <label for="network_upload">Please upload your network here as a .pkl file:</label>
  <input type="file" id='network_upload' name="network_upload" class="upload"><br><br>


  <!-- network selection -->
  Or you can select a dataset from our database: <br>
  <input type="radio" id="network1"
    name="network_selection" value="LeNet">
  <label for="network1">LeNet</label><br>

  <input type="radio" id="network2"
  name="network_selection" value="EasyNet">
  <label for="network2">EasyNet</label><br>

  <input type="radio" id="network3"
  name="network_selection" value="SimpleNet">
  <label for="network3">SimpleNet</label><br>

  <input type="radio" id="network4"
  name="network_selection" value="Other">
  <label for="network4">Other</label><br><br> 



  <h3>Advanced Search</h3>
  <!-- action(data augmentation) space -->
  Which data augmentation method you would like exclude? <br>
  <input type="checkbox" id="ShearX"
    name="action_space" value="ShearX">
  <label for="ShearX">ShearX</label>

  <input type="checkbox" id="ShearY"
    name="action_space" value="ShearY">
  <label for="ShearY">ShearY</label>

  <input type="checkbox" id="TranslateX"
    name="action_space" value="TranslateX">
  <label for="TranslateX">TranslateX</label>

  <input type="checkbox" id="TranslateY"
  name="action_space" value="TranslateY">
  <label for="TranslateY">TranslateY</label>

  <input type="checkbox" id="Rotate"
    name="Rotate" value="Rotate">
  <label for="Rotate">Rotate</label><br>

  <input type="checkbox" id="Brightness"
  name="action_space" value="Brightness">
  <label for="Brightness">Brightness</label>

  <input type="checkbox" id="Color"
  name="action_space" value="Color">
  <label for="Color">Color</label>

  <input type="checkbox" id="Contrast"
  name="action_space" value="Contrast">
  <label for="Contrast">Contrast</label>

  <input type="checkbox" id="Sharpness"
  name="action_space" value="Sharpness">
  <label for="Sharpness">Sharpness</label><br>

  <input type="checkbox" id="Posterize"
  name="action_space" value="Posterize">
  <label for="Posterize">Posterize</label>

  <input type="checkbox" id="Solarize"
  name="action_space" value="Solarize">
  <label for="Solarize">Solarize</label>

  <input type="checkbox" id="AutoContrast"
  name="action_space" value="AutoContrast">
  <label for="AutoContrast">AutoContrast</label>

  <input type="checkbox" id="Equalize"
  name="action_space" value="Equalize">
  <label for="Equalize">Equalize</label>

  <input type="checkbox" id="Invert"
  name="action_space" value="Invert">
  <label for="Invert">Invert</label><br><br><br>


  <!-- <div id="exclude_augments" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Select data augmentation method(s) to exclude:</span>
    <ul class="items">
      <input type="checkbox" />Translate 
      <input type="checkbox" />Rotate
      <input type="checkbox" />AutoContrast 
      <input type="checkbox" />Equalize 
      <br>
      <input type="checkbox" />Solarize
      <input type="checkbox" />Posterize 
      <input type="checkbox" />Contrast
      <input type="checkbox" />Brightness
    </ul>
  </div> -->

  <div id="exclude_augments">
    <span class="anchor">Hyperparameter (Learning Rate):</span>
    <ul class="items">
      Automatic: <input type="checkbox" /> <div></div>
      Manual: <input type="number" />
    </ul>
  </div>

  

  <input type="submit">
</form>
  
{% endblock %}
