{% extends "basic.html" %}
{% block title%}Home{% endblock %}
{% block body %}
<h1> Data Auto-augmentation</h1>



<script>
  function TestsFunction() {
    var T = document.getElementById("TestsDiv");
    T.style.display = "block";  // <-- Set it to block
}
</script>



<h3>Choose your dataset</h3>
<form action="/user_input" method="POST" enctype="multipart/form-data">
  <!-- upload dataset -->
  You can upload your dataset folder here:
  <input type="file" id='dataset_upload' name="dataset_upload" value = "Other" class="upload"><br><br>
  
  <!-- <label for="dataset_upload">Upload your train dataset folder here:</label> -->
  <!-- <input type="file" id='dataset_upload' name="dataset_upload" webkitdirectory mozdirectory /><br> -->
  <!-- <label for="dataset_upload">Upload your test dataset folder here:</label>
  <input type="file" id='test_upload' name="test_upload" webkitdirectory mozdirectory /><br><br> -->

  <!-- dataset radio button -->
  Or you can select a dataset from our database: <br>
  <input type="radio" id="dataset1"
    name="dataset_selection" value="MNIST">
  <label for="dataset1">MNIST dataset</label><br>

  <input type="radio" id="dataset2"
    name="dataset_selection" value="KMNIST">
  <label for="dataset2">KMNIST dataset</label><br>

  <input type="radio" id="dataset3"
    name="dataset_selection" value="FashionMNIST">
  <label for="dataset3">FashionMNIST dataset</label><br>

  <input type="radio" id="dataset4"
  name="dataset_selection" value="CIFAR10">
  <label for="dataset4">CIFAR10 dataset</label><br>

  <input type="radio" id="dataset5"
  name="dataset_selection" value="CIFAR100">
  <label for="dataset5">CIFAR100 dataset</label><br>

  <!-- <input type="radio" id="dataset6"
  name="dataset_selection" value="Other">
  <label for="dataset6">Other dataset DIFFERENT</label><br><br>  -->


<!-- 
  <button onclick="TestsFunction()">Upload dataset</button>
  <div id="dataset_upload" style="display:none">
    <input type="file" id='dataset6' name="dataset_upload" class="upload"><br><br>
  </div> -->



<!-- --------------------------------------------------------------- -->

<h3>Choose your AutoAugment learner</h3>
  <input type="radio" id="auto1"
  name="auto_aug_selection" value="UCB">
  <label for="auto1">UCB</label><br>

  <input type="radio" id="auto2"
  name="auto_aug_selection" value="Evolutionary Learner">
  <label for="auto2">Evolutionary Learner</label><br>

  <input type="radio" id="auto3"
  name="auto_aug_selection" value="Random Searcher">
  <label for="auto3">Random Searcher</label><br>

  <input type="radio" id="auto4"
  name="auto_aug_selection" value="Genetic Learner">
  <label for="auto4">Genetic Learner</label><br><br>



<!-- --------------------------------------------------------------- -->
  <h3>Choose child network</h3>
  <!-- upload network -->
  Please upload your network here as a .pkl file:
  <input type="file" id='network_upload' name="network_upload" value = "Other" class="upload"><br><br>


  <!-- network selection -->
  Or you can select a dataset from our database: <br>
  <input type="radio" id="network1"
    name="network_selection" value="LeNet">
  <label for="network1">LeNet</label><br>

  <input type="radio" id="network2"
  name="network_selection" value="EasyNet">
  <label for="network2">EasyNet</label><br>

  <input type="radio" id="network3"
  name="network_selection" value="SimpleNet">
  <label for="network3">SimpleNet</label><br>

  <!-- <input type="radio" id="network4"
  name="network_selection" value="Other">
  <label for="network4">Other</label><br><br>  -->
  <br>



  <h3>Exclude Transformations</h3>
  <!-- action(data augmentation) space -->
  Which data augmentation method you would like exclude? <br> <br>
  <input type="checkbox" id="ShearX"
    name="action_space" value="ShearX">
  <label for="ShearX">ShearX</label>

  <input type="checkbox" id="ShearY"
    name="action_space" value="ShearY">
  <label for="ShearY">ShearY</label>

  <input type="checkbox" id="TranslateX"
    name="action_space" value="TranslateX">
  <label for="TranslateX">TranslateX</label>

  <input type="checkbox" id="TranslateY"
  name="action_space" value="TranslateY">
  <label for="TranslateY">TranslateY</label>

  <input type="checkbox" id="Rotate"
    name="action_space" value="Rotate">
  <label for="Rotate">Rotate</label><br>

  <input type="checkbox" id="Brightness"
  name="action_space" value="Brightness">
  <label for="Brightness">Brightness</label>

  <input type="checkbox" id="Color"
  name="action_space" value="Color">
  <label for="Color">Color</label>

  <input type="checkbox" id="Contrast"
  name="action_space" value="Contrast">
  <label for="Contrast">Contrast</label>

  <input type="checkbox" id="Sharpness"
  name="action_space" value="Sharpness">
  <label for="Sharpness">Sharpness</label><br>

  <input type="checkbox" id="Posterize"
  name="action_space" value="Posterize">
  <label for="Posterize">Posterize</label>

  <input type="checkbox" id="Solarize"
  name="action_space" value="Solarize">
  <label for="Solarize">Solarize</label>

  <input type="checkbox" id="AutoContrast"
  name="action_space" value="AutoContrast">
  <label for="AutoContrast">AutoContrast</label>

  <input type="checkbox" id="Equalize"
  name="action_space" value="Equalize">
  <label for="Equalize">Equalize</label>

  <input type="checkbox" id="Invert"
  name="action_space" value="Invert">
  <label for="Invert">Invert</label><br><br><br>





  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <!-- <link rel="stylesheet" href="multiselect/jquery.multiselect.css"> -->
  <!-- <script src="multiselect/jquery.multiselect.js"></script> -->
  <!-- <div class="container"> -->
  <!-- <select name="langOpt[]" multiple id="langOpt"> -->
    <!-- <option value="C++">C++</option> -->
    <!-- <option value="C#">C#</option> -->
    <!-- <option value="Java">Java</option> -->
    <!-- <option value="Objective-C">Objective-C</option> -->
    <!-- <option value="JavaScript">JavaScript</option> -->
    <!-- <option value="Perl">Perl</option> -->
    <!-- <option value="PHP">PHP</option> -->
    <!-- <option value="Ruby on Rails">Ruby on Rails</option> -->
    <!-- <option value="Android">Android</option> -->
    <!-- <option value="iOS">iOS</option> -->
    <!-- <option value="HTML">HTML</option> -->
    <!-- <option value="XML">XML</option> -->
  <!-- </select> -->
  <!-- <script> -->
  <!-- $('select[multiple]').multiselect(); -->
  <!-- $('#langOpt').multiselect({ -->
    <!-- columns: 1, -->
    <!-- placeholder: 'Select Languages' -->
<!-- }); -->
  <!-- </script> -->
  <!-- </div> -->


  <!-- <div id="like_button_container"></div> -->
  <!-- <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script> -->
  <!-- <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script> -->
  <!-- <script src="metarl/auto_augmentation/templates/like_button.js"></script> -->
  <script type = 'module'> 
  // 'use strict';
    // import React from 'react';
    // import ReactDOM from "react-dom/client";
  </script>
  <!-- <script> -->
  <!-- //  const e = React.createElement;
  // var path = document.location.pathname;
  // var directory = path.substring(path.indexOf('/'), path.lastIndexOf('/'));
  // // var loc = window.location.pathname;
  // class LikeButton extends React.Component {
  //   constructor(props) {
  //     super(props);
  //     this.state = { liked: false };
  //   }
  //   render() {
  //     if (this.state.liked) {
  //       return 'You liked this.';
  //     }
  //     return e(
  //       'button',
  //       { onClick: () => this.setState({ liked: true }) },
  //       'Like'
  //     );
  //   }
  // }
  // const domContainer = document.querySelector('#like_button_container');
  // const root = ReactDOM.createRoot(domContainer);
  // root.render(e(LikeButton)); -->
   <!-- </script> -->
    




  <!-- 3
  <div id="mydiv"></div>
    <script type="text/babel" type="javascript">
      import ReactDOM from 'react-dom';
      function Hello() {
        return <h1>Hello World!</h1>;
      }
      ReactDOM.render(<Hello />, document.getElementById('mydiv'))
    </script>
  3 -->
  <!-- ----------------- -->
  <!-- <script
    src="https://unpkg.com/react@16/umd/react.production.min.js"
    crossorigin
    type="javascript"
  ></script>
  <script
    src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
    crossorigin
  ></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <script type="text/babel" src="WelcomeBack.js"></script>
  <script type="text/babel" src="CoolButton.js"></script>

  <script type="text/babel">
    ReactDOM.render(<WelcomeBack />, document.querySelector(".welcome-back"));
  </script> -->




  <br>
  <br>
  <input type="submit">


</form>
 

{% endblock %}
